.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: row;  
  justify-content: center;
}

.user-section{
  background-color: red;
  display: flex;
  flex-flow: column;
  align-items: center;
  min-width: 33%;
}

.post-section{
  background-color: green;
  display: flex;
  flex-flow: column;
  align-items: center;
  min-width: 34%;
}

.car-section{
  background-color: blue;
  display: flex;
  flex-flow: column;
  align-items: center;
  min-width: 33%;
}



button{
  max-width: 50px;
}